h1, h2, h3, h4, h5, h6{
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* b, u, i,strike, strong,em, */
html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small,  sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
button{
    outline: none; border: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* TODO Add site wide styles */
:root{

    /* ======== COLORS ======== */
    /* Greys -------------------- */
        --off-white: white;

        /* for some soft grey backgrounds */
        --light-grey: #e5e5e5;

        /* for large titles and paragraphs */
        --med-grey: #4e4c4b;

        --dark-grey: #333333;
        /* for small text and button backgrounds */
        --charcoal-grey: #1a1a1a;
    
    /* Greens -------------------- */
        /*Free shipping/sale*/
        --link-green: #4d6e60;
        /*accents, button backgrdounds*/
        --button-turq:#3d7c7d;
        --accent-turq:#0e7387;


}
img {
    max-height: 100px;
    max-width: 100px;
}