/* TODO combine root variable colors! */
:root{

    /* ======== COLORS ======== */
    /* Greys -------------------- */
        --off-white: white;

        /* for some soft grey backgrounds */
        --light-light-grey: #f5f5f5;
        --light-grey: #e5e5e5;
        --lightgrey1: rgb(155, 155, 155);
        --med-light-grey: #757575;

        /* for large titles and paragraphs */
        --med-grey: #4e4c4b;

        --dark-grey: #333333;
        /* for small text and button backgrounds */
        --charcoal-grey: #1a1a1a;
    
    /* Greens -------------------- */
        /*Free shipping/sale*/
        --link-green: #4d6e60;
        /*accents, button backgrdounds*/
        --button-turq:#3d7c7d;
        --accent-turq:#0e7387;


}
:root{
    
    --chargrey1: rgb(51, 51, 51);
    --chargrey2: rgb(11, 11, 11);

    --footer-offwhite: rgb(239, 239, 239);
}

/* ======== Clear off default styling ==============================*/
h1, h2, h3, h4, h5, h6{
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    color: var(--charcoal-grey)
}
/* b, u, i,strike, strong,em, */
html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small,  sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}

/* Universal style application */
html, body{ font-family: Arial, Helvetica, sans-serif; }
button{ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    outline: none;
    border: none; 
}
button:hover{ cursor: pointer; }

/* ===============================================================
+++++++++++++ TEMPORARY! REMOVE THIS APP LATER ++++++++++++++++
=============================================================== */
                                /* img {
                                    max-height: 100px;
                                    max-width: 100px;
                                } */
/* ===============================================================
=============================================================== 
=============================================================== */ 


/* Useful site wide classes */
.flex-col-cont{ display: flex; flex-direction: column}
.flex-row-cont{ display: flex; flex-direction: row}
.boldish{ font-weight: 800; }
.dead-link{ text-decoration: line-through; color: var(--lightgrey1)}
.hover-hand:hover{ cursor: pointer; }
.remove-underline{text-decoration: none;}
.content-width{
    width: 95%;
    margin: 0 2.5%;
}

.req-star{ color: red; }
.grey-label{
    color: var(--med-grey);
    font-size: 10pt;
    font-weight: 500;
}

/* Useful site wide classes */


 /* ========= BUTTONS BUTTONS BUTTONS =========== */
.btn-simple:hover{ background-color: var(--light-grey);}
.btn-simple{
    background-color: white;
    color: var(--med-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.delete-btn-simple:hover{ background-color: var(--light-grey);}
.delete-btn-simple{
    font-size: 18pt;
    font-weight: 400;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.heart-btn-simple:hover{ background-color: var(--light-grey);}
.heart-btn-simple > *{text-decoration: none;}
.heart-btn-simple{
    text-decoration: none;
    font-weight: bold;
    font-size: 10pt;
    height: 24px;
    width: 24px;
    border-radius: 11px;
}

.grey-green-btn:hover{ background-color: var(--med-light-grey);}
.grey-green-btn{
    background-color: var(--button-turq);
    color: white;
    font-weight: bold;
    transition: 0.3s
}
.black-rectangle-btn{
    background-color: var(--charcoal-grey);
    color: white;
    font-weight: bold;
    padding: 20px 80px;
}
