/* ......ATTRIBUTES FOR BOTH */
/* ......LOGIN  */
/* ......SING UP ATTRS AT BOTTOM */

.login-form-container{
    /* border: 2px solid green; */
    width: 100%;
}
.login-form-container > form {
    width: 400px;
    margin: auto;
}

legend{
    font-size: 9pt;
    color: var(--med-light-grey);
}
fieldset{
    border: 1px solid var(--lightgrey1);
    border-radius: 4px;
    padding: 14px;
    margin: 16px 0;
}

.auth-field{
    font-size: 12pt;
    background-color: white;
    border: none;
    outline: none;
}
.auth-topper{
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.auth-link{
    color: var(--link-green);
    text-decoration: none;
}
.error{
    color: red;
    padding: 0;
    margin: 0;
}
/* ===== buttons =============== */
.auth-btn{
    width: 100%;
    padding: 18px 0;
    font-size: 10pt;
    margin-top: 40px;
    margin-bottom: 15px;
}

/* ============================================================= */
/* ====== SIGN UP ========================================== */

.signup-form{
    max-width: 400px;
    margin: auto;
}

/* div{ border: 1px solid purple} */





