/*+++++++++++++ Footer ++++++++++++*/
.footer-container{
    /* background-color: burlywood; */
    background-color: var(--footer-offwhite);
    border-top: 1px solid rgb(200, 200, 200);
    bottom: 0;
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    align-items:center;
    
}
.footer-top{
    /* background-color: rgb(143, 140, 136); */
    padding: 1rem 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
      
}
.footer-top-section{
    /* background-color: rgb(196, 146, 82); */
    width: 25%;
}
.footer-top-section >*, .footer-top-section >ul>* {
    font-size: 10pt;
    padding-bottom: 1rem;
}
.foot-title{
    font-weight: 600;
    font-size: 9pt;
}
ul{
    list-style-type: none;
}

.footer-bottom{
    /* background-color: chocolate; */
    padding: 0rem 0;
    margin: auto;
    border-top: 1px solid rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.f-settings-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 2rem;
}
.f-settings > span { text-decoration: underline;}
.f-settings{
    font-size: 10pt;
    margin-left: 2.5rem;
}

/* edited color for grading.*/
.soc-med-icon{
    width: 24px;
    height: 24px;
    margin: 0 1rem;
    border-radius: 15px;
    /* border: 2px solid var(--chargrey2); */
    border: 2px solid var(--lightgrey1);
    background-color: var(--footer-offwhite);
    transition: 0.1s;
}
/* .soc-med-icon:hover{
    border: 2px solid var(--footer-offwhite);
    background-color: var(--chargrey2);
} */


.github-link{
    color: var(--link-green);
    text-decoration: none;
    font-weight: 600;
}


.fbs-1, .fbs-2, .fbs-3{
    /* background-color: aqua; */
    width: 39%;
}
.f-emojis{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ========= FOOTER NEW ADDITIONS - TOP AND BOTTOM PORTIONS ================== */
.footer-bottom-section{
    /* background-color: rgb(30, 204, 210); */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fbs-1 > *{
    font-size: 10pt;
    margin-right: 100px;
}

.fbs-2{
    justify-content: flex-end;
}


/* +++++ For Both ++++++ */
.footer-base{
    border-top: 1px solid rgb(200, 200, 200);
    background-color: var(--footer-offwhite);
    width: 100%;
    height: 4rem;
}


/* +++++ Search ++++++ */
.footer-search-container{
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.temp-faux-search > p { font-size: 14pt; padding: .7rem; margin-right: 8px;}
.temp-faux-search{
    width: 90%;
    background-color: var(--light-grey);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    margin: 12px auto;
    border: 1px solid var(--lightgrey1)
}
.faux-search > p { font-size: 20pt; margin-right: 8px;}
.faux-search{
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 12px auto;
    border: 1px solid var(--chargrey1)
}
.f-search-inp{
    border: none;
    outline: none;
    width: 90%;
    height: 24px;
    margin: 12px auto;
    margin-left: 12px;
}

.foot-s-sec{
    /* background-color: coral; */
    width: 33%;
    display: flex;
    flex-direction: row;

} 
.fss-1{
    display: flex;
    justify-content: flex-start;
    color: var(--chargrey1);
    font-weight: 700;
}
.fss-2{
    display: flex;
    justify-content: center;
    
}
.fss-thr{
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: underline;
}
.fss-thr > p:first-child { padding-right: 4rem; }

