.profile-edit-container{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0; 
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, .75); 
    overflow: hidden;
}
.profile-edit{
    padding: 1.5rem;
    margin: auto;
    margin-top: 8rem;
    height: fit-content;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.prof-update-btn{
    font-size: 12pt;
    padding: 1rem 0;
}